body {
    background-color: #F8F0E3; 
   
}   
hr {
    border: dashed 4px;
    border-color: #8A9A5B;
    width: 40%;
   
   
    
}                                      
h1 {
    font-family: "Aboreto", sans-serif;
    color: #51361a;
    font-size: 85px;
    text-align: center;
}

.name {
background-color: #8A9A5B;
padding: 150px;

}

.thirdyearheader {
    font-family: "Aboreto", sans-serif;
    color:#51361a;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 30px;
}
.thirdyearheader img {
    margin: 10px 10px 80px 10px;
    border-radius: 50%;
    width: 28%;
    height: 28%;
    
}
.welcome {
    margin: 0 15px 0 15px;
}
.welcome h2 {
    font-family: "Aboreto", sans-serif;
    color: #51361a;
    font-size: 35px;
    
}
.welcome p {
    font-family: 'Alegreya', serif;
    color: #51361a;
    font-size: 35px;
    text-align: center;
    /*margin: 0 85px 0 85px;*/
}

.aibotphotos img {
    height: 95px;
    width: 120px;
    border-radius: 80%;
    margin: 0 0 0 80px;
  }

.skills {
 font-family: "Aboreto", sans-serif;
 color: #51361a;
 font-size: 27px;
padding: 20px;

}
.skills hr {
    margin: 0 0 0 418px;
}
.skills h2 {
    font-size: 33px;
    text-align: center;
    padding: 20px 0 0 0;
}

a:link {
     color: black;
    background-color: transparent;
    text-decoration: none;
    }
    
    a:visited {
      color: #8A9A5B;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: peru;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: none;
    }
    
.columnn {
    display: inline-block;
}
  
 .langs {
    font-family: 'Alegreya', serif;
    color: #51361a;
    font-size: 20px;
    margin: 70px 600px 200px 400px;
    width: 50%;
    
 }
 .langs h3 {
    font-family: "Aboreto", sans-serif;
    font-size: 24px;
    margin: 0 0 25px 450px;
 }
 .langs ul {
    list-style-type: square;
   margin: 0 0 0 450px;
 }
 
.langs img {
    float: left;
    height: 150px;
    width: 200px;
    border-radius: 80%;

}
.leadership {
    font-family: 'Alegreya', serif;
    color: #51361a;
    font-size: 20px;
    margin: 70px 600px 100px 0px;
    width: 50%;
   
}
.leadership hr {
    margin: 40px 0 50px 580px;
}
.leadership h3 {
    font-family: "Aboreto", sans-serif;
    margin: 0 0 25px 245px;
}
.leadership dl {
    margin: 0 0 0 300px;
    font-size: 25px;
}

.leadership img {
    margin: 0 0 0 800px;
    border-radius: 80%;
    height: 150px;
    width: 150px;
}

.moreskills {
    font-family: 'Alegreya', serif;
    color: #51361a;
    font-size: 20px;
    margin: 70px 15px 200px 15px;
    width: 50%;
    }
    .moreskills hr {
        margin: 0 0 40px 550px;
    }
 
    .moreskills h3 {
        font-family: "Aboreto", sans-serif;
        margin: 0 0 80px 650px;
        font-size: 30px;
    }
    .moreskills dl {
        margin: 0 0 0 675px;
    }
    .moreskills img {
        border-radius: 80%;
        height: 150px;
        width: 150px;
        margin: 20px 0 0 640px;
        display: inline-block;
    }
    .bottomhalf {
        font-family: 'Alegreya', serif;
        text-align: center;
    }
    .bottomhalf button {
        font-family: 'Alegreya', serif;
        background-color: #51361a;
        text-align: center;
        padding: 0 50px 0 50px;
        
      }
    .copyright p {
        text-align: center;
        color: #51361a;
        font-family: 'Alegreya', serif;
        
    }
    .contactheader {
        font-family: 'Alegreya', serif;
        text-align: center;
        color: #51361a;
       
    }
    .contactheader h1 {
        font-family: 'Aboreto', cursive;
        margin: 0 0 35px 0;
    }
    .card {
       text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: #8A9A5B;
        width: 50%;
        margin: 0 0 0 350px;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }